body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}


h1 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: black;
    margin: 0; 
}

.Page h3 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: black;
    margin: 0; 
}

.Page a {
    text-decoration: none;
}

/* Estilo para links normais */
a {
    text-decoration: none;
    color: #000; /* Cor preta para links normais */
    display: inline-block;
    transition: .2s;
}

/* Estilo para links visitados */
a:visited {
    color: #000; /* Cor preta para links visitados */
}

/* Estilo para links ativos */
a:active {
    color: #000; /* Cor preta para links ativos */
}

/* Estilo para links ao passar o mouse */
a:hover {
    color: #000000; /* Cor cinza para links ao passar o mouse */
    transform: scale(1.10);
}

.first h1{
    font-size: 60px;
}

p {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: rgb(2, 2, 2);
    margin: 0; 
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Altura total da viewport */
}

.first_home_backgrd{
    background-color: #333;
}

.second_home_backgrd{
    background-color: #555;
}

.luz .lampada {
    position: fixed;
    top: 80px; /* Ajuste a posição conforme necessário*/
    left: 7px; /* Ajuste a posição conforme necessário*/
    z-index: 1000; /* Para garantir que a lâmpada fique acima de outros elementos */
}